body
{
background-size: cover;
}

.footer
{
    text-align: center;
    bottom: 0;
    background-color: azure;
    font-size: 15px;
    position: fixed;
    width: 100%;
    line-height: 1.5;
}

.heading
{
    width: 100%;
    margin: 0;
    text-align: left;
}

.heading button
{ 
    float: right;
    border: 1px solid whitesmoke;
}

.heading h3
{
    display: inline;
}


#start
{
    font-size: 22px;
}

h4{
    background-color: whitesmoke;
    line-height: 2;
    margin: 0px;
}

.modal-dialog
{
    width: 90%;
}

.instruction-image
{
    display: inline-block;
    width: 45%;
}

.instruction_div img
{
    margin:20px;
    width: 80%;
    border-radius: 40px;
  /*   set the margin left property to auto,  set the margin right property to auto */
  margin-left:auto;
  margin-right:auto;
}

canvas
{
    box-shadow: 5px 5px 5px azure;
    border-radius: 10px;
    border: 2px solid azure;
    margin-top: 100px;
}